<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Рецепты</title>
</head>
<body>
<h3>Ингридиенты:</h3>
{% for ingredient, amount in recipe.items %}
    <p>{{ ingredient.capitalize }}: {{ amount }}</p>
{% empty %}
    <p>Такого рецепта не знаю :(</p>
{% endfor %}
{% if recipe_name == "omlet" %}
    <br>
    <h3>Рецепт</h3>
    <ol>
        <li>Яйца выпустить в миску.</li>
        <li>Влить в яйца молоко.</li>
        <li>Добавить муку и соль. По желанию можно добавить щепотку сахара, но я предпочитаю без него.</li>
        <li>Тщательно взбить смесь венчиком или просто вилкой до однородности.</li>
        <li>Влить яичную смесь на разогретую с растительным маслом сковороду.</li>
        <li><b>Приятного аппетита!</b></li>
    </ol>
{% endif %}

{% if recipe_name == "pasta" %}
    <h3>Рецепт</h3>
    <ol>
        <li>Спагетти отварить в подсоленной воде до состояния аль-денте (слегка недоваренные), согласно инструкции на упаковке.</li>
        <li>Откинуть спагетти на дуршлаг, дать воде стечь, а затем переложить спагетти в сервировочную миску.</li>
        <li>Положить в спагетти сливочное масло, посыпать половиной сыра, перемешать с помощью двух вилок. Масло должно полностью растаять, а сыр расплавиться.</li>
        <li>Подавать спагетти в этой же миске, посыпав оставшимся сыром.</li>
        <li><b>Приятного аппетита!</b></li>
    </ol>
{% endif %}

{% if recipe_name == "butter" %}
    <h3>Рецепт</h3>
    <ol>
        <li>Натереть на крупной терке сыр и колбасу. Колбасу можно нарезать и кубиком.</li>
        <li>Помидор нашинковать. Добавить измельченный чеснок и майонез. Хорошо перемешать.</li>
        <li>Получившейся смесью смазать кусочки батона. Отправить в разогретую духовку на 7 минут.</li>
        <li><b>Приятного аппетита!</b></li>
    </ol>
{% endif %}
</body>
</html>